{% extends 'Bases/menu-lateral.html' %}
{% load static %}

{% block meus_estilos %}
    <link rel="stylesheet" href="{% static 'css/Central/dashboard.css' %}">
{% endblock %}

{% block titulo %}
    Dashboard - {{ mes_atual }}
{% endblock %}

{% block conteudo %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="display-5 text-center comforta">{{ mes_atual }}</p>
            </div>
        </div>
        <!-- Fim linha 1 -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 text-center">
                <p class="h4 mt-1 comforta">Resumo do mês:</p>
            </div>

            <div class="col-12 col-lg-4 cartao w-auto">
                <i class="bi bi-arrow-up-short"></i>
                Total vendas: R$ {{ tot_vendas }}
            </div>

            <div class="col-12 col-lg-4 cartao w-auto">
                <i class="bi bi-arrow-down-short"></i>
                Total despesas: R$ {{ tot_despesas }}
            </div>

            <div class="col-12 col-lg-4 cartao w-auto">
                <img src="{% static 'Images/icon-balanca.svg' %}" width="14px">
                Total lucro: R$ {{ lucro }}
            </div>
        </div>
        <!-- Fim linha 2 -->
        <div class="row d-flex">
            <div class="col-12 cartao mx-auto" style="max-width: 1200px;">
                <p class="h4 mt-3 comforta">Faturamento (últimos 12 meses):</p>
                <canvas id="faturamento"></canvas>
            </div>
        </div>
        <!-- Fim linha 3 -->
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="h4 mt-5 comforta">
                    <i class="bi bi-trophy-fill"></i>
                    Top 5 vendedores:</p>
                <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Nº de Vendas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rank, top in top_vendedores.items %}
                            <tr>
                                <th scope="row">{{ rank }}</th>
                                    {% for k, v in top.items %}
                                        <td>{{ v }}</td>
                                    {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-12 col-lg-6">
                <p class="h4 mt-5 comforta">
                    <i class="bi bi-trophy-fill"></i>
                    Top 5 produtos:</p>
                <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Quant. vendida</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rank, top in top_produtos.items %}
                            <tr>
                                <th scope="row">{{ rank }}</th>
                                    {% for k, v in top.items %}
                                        <td>{{ v }}</td>
                                    {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Fim linha 4 -->
        <div class="row">
            <div class="col-12">
                <p class="h4 mt-5 comforta text-center">Situação da clientela:</p>
            </div>
        </div>
        <!-- Fim linhs 5 -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-6 mt-1 cartao cartao-porcent d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center mb-2">{{ porc_clientes_voltam }}%</div>
                <span class="text-center">dos clientes voltam a comprar dentro de 3 meses</span>
            </div>
            <div class="col-12 col-md-6 cartao cartao-porcent d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center my-3">{{ porc_novos_clientes_que_compraram }}%</div>
                <span class="text-center">dos novos clientes compraram algo no mesmo mês do cadastro nos últimos 3 meses</span>
            </div>
        </div>
        <!-- Fim linha 6 -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-lg-4 cartao cartao-nums d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center my-3">{{ clientes_cadastrados }}</div>
                <span class="text-center">clientes cadastrados nesse mês</span>
            </div>

            <div class="col-12 col-lg-4 cartao cartao-nums d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center my-3">{{ clientes_atendidos }}</div>
                <span class="text-center">clientes atendidos nesse mês</span>
            </div>

            <div class="col-12 col-lg-4 cartao cartao-nums d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center my-3">{{ clientes_n_atendid }}</div>
                <span class="text-center">clientes não foram atendidos nesse mês</span>
            </div>
        </div>
        <!-- Fim linha 7 -->
    </div>

    <div class="d-none" id="dados-faturamento" data-labels="{{ faturamento.labels }}" data-data="{{ faturamento.data }}"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        window.onload = () => {
            document.getElementById('opc-dashboard').classList.add('atual');

            const grafFaturamento = document.getElementById('faturamento').getContext('2d');
            const labels = JSON.parse(document.getElementById('dados-faturamento').getAttribute('data-labels'));
            const data = JSON.parse(document.getElementById('dados-faturamento').getAttribute('data-data'));
            Chart.defaults.color = '#F0FFFF';
            const myChart = new Chart(grafFaturamento, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Faturamento',
                        data: data,
                        backgroundColor: '#89CE94',
                        borderColor: '#89CE94',
                        borderWidth: 0.2
                    }],
                },
                options: {
                    responsive: true
                }
            });
        }
    </script>
{% endblock %}