{% extends 'Bases/base-visuals.html' %}
{% load static %}

{% block titulo %}Lista de produtos{% endblock %}

{% block url_regist %}{% url 'RegistProduto' %}{% endblock %}
{% block cabecalho_table %}
    <i class="bi bi-filter-square-fill"></i>
    Produtos cadastrados:
{% endblock %}
{% block colunas %}
    <th scope="col">Nº</th>
    <th scope="col">Nome</th>
{% endblock %}
{% block tratam_dados %}
    <th scope="row">{{ n }}</th>
    <td>{{ dado }}</td>

    <script>
        window.onload = () => {
            document.getElementById('opc-vis-produto').classList.add('atual');
        }
    </script>
{% endblock %}