{% extends 'Bases/menu-lateral.html' %}
{% load static %}

{% block meus_estilos %}
    <link rel="stylesheet" href="{% static 'css/Bases/base-visuals.css' %}">
{% endblock %}

{% block conteudo %}
    <div class="container-fluid">
            <div class="col-12 col-lg-8 mx-auto">
                <p class="h4 mt-5 comforta">
                    <i class="bi bi-person-lines-fill"></i>
                    Clientes cadastrados:</p>
                <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nº</th>
                            <th scope="col">Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for n, cliente in clientes.items %}
                            <tr>
                                <th scope="row">{{ n }}</th>
                                    {% for k, v in cliente.items %}
                                        <td>{{ v }}</td>
                                    {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}

<!-- TODO: Adicionar JS aos templates que herdam de "menu-lateral.html" que adicione a classe atual a opção que está ativa -->