{% extends 'Bases/menu-lateral.html' %}
{% load static %}

{% block meus_estilos %}
    <link rel="stylesheet" href="{% static 'css/Bases/base-visuals.css' %}">
{% endblock %}

{% block conteudo %}
    <div class="list-group">
        {% for cliente in clientes %}
            <table class="table">
                
            </table>
        {% endfor %}
    </div>
{% endblock %}

<!-- TODO: Adicionar JS aos templates que herdam de "menu-lateral.html" que adicione a classe atual a opção que está ativa -->