{% extends 'Bases/base.html' %}
{% load static %}

{% block estilos_base %}
    <link rel="stylesheet" href="{% static 'css/Bases/menu-lateral.css' %}">
{% endblock %}

{% block restante-cont %}
    <main>
        <div class="wrapper me-3">
            <aside id="sidebar">
                <div class="d-flex flex-column">
                    <button class="toggle-btn align-self-start" id="id-toggle-btn" type="button">
                        <i class="bi bi-arrow-left-square-fill"></i>
                    </button>
                    <div class="sidebar-saudacao p-3">
                        <div class="d-flex flex-column">
                            <h5 class="align-self-start">
                                <span class="comforta d-block">Olá {{ user.username }},</span>
                                <span>{{ saudacao }}</span>
                            </h5>
                            <a href="{% url 'Perfil' %}" class="align-self-end mt-3">
                                Ver perfil
                                <img src="{% static 'images/perfil-default.svg' %}" alt="Foto de perfil" class="mx-2"></a>
                        </div>
                    </div>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a href="{% url 'Dashboard' %}" class="sidebar-link" id="opc-dashboard">
                            <i class="bi bi-clipboard2-data-fill me-1"></i>
                            <span>Dashboard</span></a>
                    </li>
                    <hr>
                    <!-- Registros -->
                    <li class="sidebar-item">
                        <a href="{% url 'RegistCliente' %}" class="sidebar-link" id="opc-reg-cliente">
                            <i class="bi bi-person-fill-add"></i>
                            <span>Registrar cliente</span></a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'RegistProduto' %}" class="sidebar-link" id="opc-reg-produto">
                            <i class="bi bi-plus-square-fill"></i>
                            <span>Registrar produto</span></a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'RegistVenda' %}" class="sidebar-link" id="opc-reg-venda">
                            <i class="bi bi-cart-plus-fill"></i>
                            <span>Registrar venda</span></a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'RegistDespesa' %}" class="sidebar-link" id="opc-reg-despesa">
                            <i class="bi bi-cash-coin"></i>
                            <span>Registrar despesa</span></a>
                    </li>
                    <hr>
                    <!-- Visualizações -->
                    <li class="sidebar-item">
                        <a href="{% url 'VisualClientes' %}" class="sidebar-link" id="opc-vis-cliente">
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Visualizar clientes</span></a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'VisualProdutos' %}" class="sidebar-link" id="opc-vis-produto">
                            <i class="bi bi-filter-square-fill"></i>
                            <span>Visualizar produtos</span></a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'VisualVendas' %}" class="sidebar-link" id="opc-vis-venda">
                            <i class="bi bi-cart-check-fill"></i>
                            <span>Visualizar vendas</span></a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'VisualDespesas' %}" class="sidebar-link" id="opc-vis-despesa">
                            <i class="bi bi-wallet2"></i>
                            <span>Visualizar despesas</span></a>
                    </li>
                    <hr>
                    <!-- Logout -->
                    <li class="sidebar-item">
                        <a href="{% url 'Saida' %}" class="sidebar-link" id="sair">
                            <i class="bi bi-door-open"></i>
                            <span>Sair</span></a>
                    </li>
                </ul>
            </aside>

            <div class="main p-3">
                {% block conteudo %}{% endblock %}
            </div>
        </div>
    </main>

    <script>
        const hamBurger = document.querySelector(".toggle-btn");

        hamBurger.addEventListener("click", function () {
        document.querySelector("#sidebar").classList.toggle("expand");
        });
    </script>
{% endblock %}