{% extends 'Bases/menu-lateral.html' %}
{% load static %}

{% block meus_estilos %}
    <link rel="stylesheet" href="{% static 'css/Contas/perfil.css' %}">
{% endblock %}
{% block titulo %}Perfil de {{ user.username }}{% endblock %}

{% block conteudo %}
    <div class="d-flex flex-column align-items-center justify-content-center my-5 envelopamento-total">
        <div class="d-flex flex-column align-items-center bg-primary p-5 rounded">
            <img src="{% static 'images/perfil-default.svg' %}" alt="Foto de perfil" class="mb-3">
            <h6 class="display-6 comforta">{{ user.username }}</h6>
            <a class="btn btn-primary" href="{% url 'EditarPerfil' %}">Editar perfil</a>
        </div>
    </div>
{% endblock %}